<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="SybQfkIn3LowOH88TyQyUo1kDlgWMmih8Wq1mc51" />
  <meta name="theme-color" content="#c25054" />
  <title>Home</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link href="/css/style.css" rel="stylesheet" />
 </head>
 <body>
  <div id="app" style="min-height: 90vh; display: flex; flex-direction: column;">
   <div class="wrapper-bg" style="background: white;">
    <div class="nav-bg p-2" style="background: #fff;">
     <div class="container p-md-0">
      <div id="app">
       <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand abs" href="http://localhost:4000/" aria-label="Homepage">
         <img src="/images/Logo.png" width="100px" class="ml-md-1" alt="Get-Job-Openings" type="image/png" />
        </a>
        <div class="naukriBorder" style="border-radius: 40px; border: 1px solid var(--N400, #e7e7f1); width: 880px;">
         <div class="collapse navbar-collapse" id="navbarNav" style="font-weight: bold;">
          <ul class="navbar-nav"></ul>
          <ul class="navbar-nav ml-auto mt-4 mt-lg-0">
           <div class="naukri" style="padding-top: 9px; padding-bottom: 9px; padding-right: 9px;">
            <li style="margin-right: 0px;">
             <input id="inputA" class="inputA form-control input-group-prepend" placeholder="Enter two primary skills" tabindex="0" type="text" value="<%= locals.jobSkills %>" style="width: 370px; border: none;" />

             <ul id="dropdownA" class="dropdown-menu" style="width: 350px; left: 175px; top: 65px;">
              <% jobs.data.uniqueskills.forEach(element => { %>
              <li value="<%=element%>" title="<%=element%>"><%=element%></li>

              <% }); %>
             </ul>
            </li>
           </div>

           <div class="nI-gNb-sb__seperator" style="width: 1px;"></div>
           <div class="naukri" style="width: 185px; padding-top: 9px; padding-bottom: 9px;">
            <!--          -->

            <div class="dropdown-container" id="dropdown-container1">
             <input
              class="form-control input-group-prepend dropdown-input inputB"
              id="inputB"
              spellcheck="false"
              autocomplete="off"
              title=""
              placeholder="Select experience"
              type="text"
              value="<%= locals.jobExperience %>"
              name="experienceDD"
              tabindex="0"
              style="width: 175px; background-color: #fff;"
              readonly
             />

             <ul id="dropdownB" class="dropdown-menu" style="left: -10px; top: 40px;">
              <li value="0" title="Fresher">Fresher (less than 1 year)</li>

              <% for(let j=1;j<=14;j++) { %>
              <li value="<%=j%>" title="<%=j%> years"><%=j%> years</li>

              <% } %>
              <li value="15" title="">15+ years</li>
             </ul>
            </div>

            <!--                     -->
           </div>
           <div class="nI-gNb-sb__seperator" style="width: 1.3px;"></div>
           <div class="naukri" style="width: 185px; padding-top: 9px; padding-bottom: 9px;">
            <div class="dropdown-container" id="dropdown-container2">
             <input id="inputC" class="form-control input-group-prepend inputC" placeholder="Enter location" tabindex="0" type="text" value="<%= locals.jobLocation %>" style="width: 175px;" />

             <ul id="dropdownC" class="dropdown-menu" style="left: -10px; top: 40px;">
              <% jobs.data.uniqueJobLocations.forEach(element => { %>
              <li value="<%=element%>" title="<%=element%>"><%=element%></li>

              <% }); %>
             </ul>
            </div>
           </div>
           <button class="btn btn-primary" style="margin: auto; border-radius: 60px; height: 40px; margin-right: 16px;" tabindex="0" type="submit" onclick="handleSubmit()">
            <span class="ni-gnb-icn ni-gnb-icn-search"></span>
            <span>Search</span>
           </button>
          </ul>
         </div>
        </div>
       </nav>
      </div>
     </div>
    </div>
    <div class="line" style="padding: 1px; background: #f8f8f8;"></div>
    <div>
     <div class="banner">
      <img src="https://xplore.co.in/img/jobs.jpg" class="w-100" />
     </div>
     <div class="bg-light">
      <div class="container">
       <div class="row">
        <div class="col-12 col-md-9 mb-5">
         <div class="bg-white p-4" style="margin-top: -50px;">
          <h1>Job Openings</h1>
         </div>
         <div class="">
          <div id="search-items">
           <% jobs.data.data.forEach(element=> { %>
           <div class="bg-white p-4 p-md-5 mb-4">
            <div class="media">
             <div class="mr-4 d-none d-md-block" style="width: 100px;">
              <img class="mr-3 w-100" style="height: 37px;" src="/images/<%=element.CompanyName%>" alt="Genpact is hiring 2020-2024 graduates (freshers and experienced) – Hindi ( Voice Process )" />
             </div>
             <div class="media-body">
              <div class="mb-4">
               <a href="/jobs/<%=element.jobId%>">
                <h2 class="mt-0">
                 <%= element.role %>
                 <span class="badge badge-warning float-right">open</span>
                </h2>
               </a>
               <%= element.jobTitleA %>
              </div>
              <div class="mb-4">
               <div class="row mb-2">
                <div class="col-5 col-md-4"><i class="fa fa-map-marker"></i>&nbsp; Locations</div>
                <div class="col-7 col-md-8">
                 <% let locArray = [...element.jobLocation]; locArray.forEach(temp => { %> <%= temp+", "%> <% }); %>
                </div>
               </div>
               <div class="row mb-2">
                <div class="col-5 col-md-4"><i class="fa fa-university"></i>&nbsp; Experience</div>
                <div class="col-7 col-md-8">
                 <% if(element.jobExperience==1) { %> <%= "Fresher" %> <% } else { %> <%=Math.min(...element.jobExperience) %> - <%= Math.max(...element.jobExperience) %> Yrs <% } %>
                </div>
               </div>
               <div class="row mb-2">
                <div class="col-5 col-md-4"><i class="fa fa-calendar"></i>&nbsp; Skills<span class="d-none d-md-inline"> </span></div>
                <div class="col-7 col-md-8">
                 <% element.skills.forEach(element => { element = element+", "; %> <%= element %> <% }); %>
                </div>
               </div>
               <div class="row mb-2">
                <div class="col-5 col-md-4"><i class="fa fa-graduation-cap"></i>&nbsp; Acad<span class="d-none d-md-inline">emic</span>s</div>
                <div class="col-7 col-md-8">55% & above</div>
               </div>
               <div class="row mb-2">
                <div class="col-5 col-md-4"><i class="fa fa-flickr"></i>&nbsp; Salary</div>
                <div class="col-7 col-md-8">NOT DISCLOSED</div>
               </div>
              </div>
              <a href="/jobs/<%=element.jobId%>" class="btn btn-primary mb-4">View details</a>
             </div>
            </div>
           </div>
           <% }); %>
           <nav aria-label="Page navigation  " class="card-nav mt-3">
            <ul class="pagination">
             <% if(parseInt(jobs.data.pageNo)==1) { %>

             <li class="page-item disabled">
              <span class="page-link">&laquo;</span>
             </li>

             <% } else { %>

             <li class="page-item">
              <button class="page-link" onclick="getRequiredPage((<%=parseInt(jobs.data.pageNo)-1%>),(<%=jobs.data.pageNo%>)%>)">&laquo;</button>
             </li>

             <% } %> <% for(let i=1;i<=jobs.data.totalPages;i++) { if(i === parseInt(jobs.data.pageNo)) { %>
             <li class="page-item active">
              <span class="page-link"> <%=jobs.data.pageNo%> </span>
             </li>
             <% }else{ %>

             <li class="page-item">
              <button class="page-link" onclick="getRequiredPage((<%=i%>),(<%=jobs.data.pageNo%>))"><%=i%></button>
             </li>

             <%} }%> <%if(parseInt(jobs.data.totalPages)===parseInt(jobs.data.pageNo)) { %>

             <li class="page-item disabled">
              <span class="page-link">&raquo;</span>
             </li>

             <% }else{%>

             <li class="page-item">
              <button class="page-link" onclick="getRequiredPage((<%=parseInt(jobs.data.pageNo)+1%>),(<%=jobs.data.pageNo%>))">&raquo;</button>
             </li>

             <%} %>
            </ul>
           </nav>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="bg-dark d-print-none" style="margin: auto 0;">
   <footer class="text-light footer">
    <div class="container py-3">
     <div class="text-muted d-print-none">
      <div class="p-3"></div>

      Copyright &copy; Get-Job-Openings

      <div class="p-3"></div>
     </div>
    </div>
   </footer>
  </div>

  <script src="/js/scripts.js" charset="utf-8"></script>
 </body>
</html>
